.roomCard {
  padding: 20px 20px 50px;
  background-color: #fff;
  border-radius: 42px;
  box-shadow: 0 4px 60px rgb(0, 52, 101, 0.25);

  &-img {
    margin-bottom: 28px;
  }

  &-type {
    margin-bottom: 12px;
    font-size: 12px;
    color: #5E5E5E;
  }

  &-title {
    font-size: 24px;
    color: #1E1E1E;
    margin-bottom: 20px;
  }

  &-description {
    font-size: 12px;
    color: #5E5E5E;
    margin-bottom: 35px;
  }

  &-price {
    font-size: 36px;
    font-weight: 700;
    color: #1E1E1E;
    margin-bottom: 35px;
    text-align: center;
  }
}